In [1]:
!python --version

Python 3.7.7

#### Installation of pandas

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp314-cp314-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 26.8 MB/s  0:00:00m0:00:010:01
Downloading numpy-2.4.1-cp314-cp314-macosx_14_0_arm64.whl (5.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 51.9 MB/s  0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.4.1 pandas-2.3.3 pytz-2025.2 tzdata-2025.3

In [4]:
!pip install numpy

Requirement already satisfied: numpy in ./.venv/lib/python3.14/site-packages (2.4.1)

#### Installation of matplotlib

In [5]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.8-cp314-cp314-macosx_11_0_arm64.whl.metadata (52 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp314-cp314-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp314-cp314-macosx_10_15_universal2.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp314-cp314-macosx_11_0_arm64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in ./.venv/lib/python3.14/site-packages (from matplotlib) (2.4.1)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.14/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.1.0-cp314-cp314-macosx_11_0_arm64.whl.metadata (8.8 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.3.1-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.14/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.8-cp314-cp314-macosx_11_0_arm64.whl (8.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 41.8 MB/s  0:00:00m0:00:01
Downloading contourpy-1.3.3-cp314-cp314-macosx_11_0_arm64.whl (273 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp314-cp314-macosx_10_15_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 50.6 MB/s  0:00:00
Downloading kiwisolver-1.4.9-cp314-cp314-macosx_11_0_arm64.whl (64 kB)
Downloading pillow-12.1.0-cp314-cp314-macosx_11_0_arm64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 45.7 MB/s  0:00:00
Downloading pyparsing-3.3.1-py3-none-any.whl (121 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [matplotlib]7 [matplotlib]
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8 pillow-12.1.0 pyparsing-3.3.1

In [6]:
!pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./.venv/lib/python3.14/site-packages (from seaborn) (2.4.1)
Requirement already satisfied: pandas>=1.2 in ./.venv/lib/python3.14/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in ./.venv/lib/python3.14/site-packages (from seaborn) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.1.0)
Requirement already satisfied: pyparsing>=3 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.1)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.14/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.14/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.14/site-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

#### Pandas version

In [7]:
import pandas as pd

pd.__version__

'2.3.3'

#### Matplotlib version

In [8]:
import matplotlib

matplotlib.__version__

'3.10.8'

#### Numpy version

In [9]:
import numpy as np

np.__version__

'2.4.1'

### Seaborn Version

In [10]:
import seaborn

seaborn.__version__

'0.13.2'

<b>Dataset</b> https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python
* Gender - Gender of the customer
* Age - Age of the customer
* Annual Income (k$) - Annual Income of the customee
* Spending Score (1-100) - Score assigned by the mall based on customer behavior and spending nature

#### Reading data using pandas python

In [11]:
## TODO: While recording please show the file structure first

In [12]:
mall_data = pd.read_json('datasets/Mall_Customers.json')

mall_data.head(5)

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19          15000              39
1            2    Male   21          15000              81
2            3  Female   20          16000               6
3            4  Female   23          16000              77
4            5  Female   31          17000              40

In [14]:
mall_data

     customer_id  gender  age  annual_income  spending_score
0              1    Male   19          15000              39
1              2    Male   21          15000              81
2              3  Female   20          16000               6
3              4  Female   23          16000              77
4              5  Female   31          17000              40
..           ...     ...  ...            ...             ...
195          196  Female   35         120000              79
196          197  Female   45         126000              28
197          198    Male   32         126000              74
198          199    Male   32         137000              18
199          200    Male   30         137000              83

[200 rows x 5 columns]

In [15]:
average_income = mall_data['annual_income'].mean()

average_income

np.float64(60560.0)

In [17]:
mall_data['above_average_income'] = (mall_data['annual_income'] - average_income) > 0

mall_data.sample(5)

,customer_id,gender,age,annual_income,spending_score,above_average_income
25,26,Male,29,28000,82,False
91,92,Male,18,59000,41,False
90,91,Female,68,59000,55,False
34,35,Female,49,33000,14,False
26,27,Female,45,28000,32,False

* We can save it in any forms like normal text file, csv or json. It will save it in the location where you prefer as well

In [20]:
mall_data.to_csv('datasets/mall_data_processed.csv', index=False)

In [28]:
!ls datasets/ma*.csv

datasets/mall_data_processed.csv

In [23]:
!ls datasets/ma*.csv
!cat datasets/mall_data_processed.csv | head -4

datasets/mall_data_processed.csv
customer_id,gender,age,annual_income,spending_score,above_average_income
1,Male,19,15000,39,False
2,Male,21,15000,81,False
3,Female,20,16000,6,False

#### Read the csv file for the clarification

In [24]:
mall_data_updated = pd.read_csv('datasets/mall_data_processed.csv', index_col=0)

mall_data_updated.head(5)

             gender  age  annual_income  spending_score  above_average_income
customer_id
1              Male   19          15000              39                 False
2              Male   21          15000              81                 False
3            Female   20          16000               6                 False
4            Female   23          16000              77                 False
5            Female   31          17000              40                 False

In [17]:
## TODO: While recording please show the files after each save

In [29]:
mall_data.to_json('datasets/mall_data_column_oriented.json', orient='columns')

In [30]:
mall_data.to_json('datasets/mall_data_records_oriented.json', orient='records')

In [31]:
mall_data.to_json('datasets/mall_data_index_oriented.json', orient='index')

In [32]:
mall_data.to_json('datasets/mall_data_values_oriented.json', orient='values')

In [34]:
!ls -al datasets/*.json

-rwx------@ 1 williamcepeda  staff  24718 May  3  2020 datasets/Mall_Customers.json
-rwx------@ 1 williamcepeda  staff  12452 Jan 18 21:56 datasets/mall_data_column_oriented.json
-rwx------@ 1 williamcepeda  staff  24305 Jan 18 21:58 datasets/mall_data_index_oriented.json
-rwx------@ 1 williamcepeda  staff  23215 Jan 18 21:58 datasets/mall_data_records_oriented.json
-rwx------@ 1 williamcepeda  staff   6215 Jan 18 21:59 datasets/mall_data_values_oriented.json